html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
}

.nc-red {
    color: #ef2b35;
}

.nc-grey {
    color: #b2b2b3;
}

.nc-dark-grey {
    color: #999999
}

* {
    font-size: 1.4rem;
    font-size: 14px;
    line-height: 1.69;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.wrapper * {
    padding: 0;
    margin: 0;
}

.translucent-background {
    background: rgba(255,255,255,0.05);
}

.backgroundNC {
    background: #151515;
}

.background {
    background: -webkit-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #83a4d4 10%, #b6fbff 90%); /* W3C */
}

.background2 {

    background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #606c88 10%, #3f4c6b 90%); /* W3C */

}

.time {
    text-align: right;
    font-size: 1.2rem;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.wrapper .container {
    padding-top: 60px
}

.pos-relative {
    position: relative;
}

.custom-row {
    margin-bottom: 20px;
    padding: 20px;
}

.avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.card-list {
    height: 80vh;
    overflow-y: auto;
}

.side-pane {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.side-pane .content {
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}

.timestamp {
    text-align: right;
}

.article-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 10px
}

.article {
    line-height: 1.69;
    cursor: pointer;
    padding: 5px 0;
    margin-top: 5px;
}

.tabs {
    margin-bottom: 20px;
}

.tabs h2{
    opacity: 0.3;
    display: inline-block;
    margin-right: 20px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.tabs .active {
    opacity: 1;
}

.article span {
    color: #5891de;
    padding: 5px 10px 5px 0
}

.article:hover span, .name:hover {
    background: rgba(0,0,0,0.5);
}

.article:hover .fa-arrow-circle-right {
    opacity: 1;
    color: #5891de;
}

.name {
    cursor: pointer;
    display: inline-block;
    padding-right: 10px
}

.name:hover .fa-arrow-circle-right {
    opacity: 1;
    color: #ef2b35
}

.fa-arrow-circle-right {
    opacity: 0;
    transition: all 0.1s ease-in;
}

.loading {
    padding: 20% 0;
    text-align: center;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 45%;
}

.actions {
    text-align: right;
}

.action-button {
    font-size: 2.0rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px
}

.name-wrapper .count, .name-wrapper .count * {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2rem;
}

.name-wrapper .count {
    color: #BE90D4;
}

.facets-pane {
    position: absolute;
    left: -202px;
    top: 132px;
    width: 200px;
    height: 80vh;
}

.facets-pane .facet-item {
    font-size: 12px;
    padding: 5px 2px;
    margin: 2px;
    cursor: pointer;
}

.facets-pane .facet-item:hover {
    background: rgba(0,0,0,0.5);
}

.popular-page-item {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    padding-bottom: 10px;
}
.bmenu-wrapper {
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}
.breadcrumb-menu {
    list-style: none;
    display: table;
    table-layout: fixed;
    border-spacing: 20px 0;
}

.breadcrumb-menu .menu-item {
    display: table-cell;
    vertical-align: middle;
    left: -40px;
    position: relative;
    cursor: pointer;
}

.fa-angle-right{
    opacity: 0;
}

.breadcrumb-menu .menu-item:not(:last-child) .fa-angle-right{
    opacity: 1;
}

.breadcrumb-menu .menu-item .category {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.breadcrumb-menu .menu-item .sub-category {
    text-transform: capitalize;
    font-size: 10px;
    color: #b2b2b3
}

.tags{
    display: block;
    padding: 5px;
    background: rgba(255,255,255,0.3);
}

.tag{
    display: inline-block;
    cursor: pointer;
    background: rgba(0,0,0,0.8);
    padding: 5px 20px 5px 10px;
    border-radius: 3px;
    position: relative;
    transition: all 0.1s ease-in-out;
    margin-right: 10px;
}

.tag:hover {
    padding-right: 30px;
}

.tag:hover .btn-delete {
    display: block;
}

.tag .category {
    text-transform: uppercase;
    font-size: 10px;
    color: white;
}

.tag .sub-category {
    text-transform: capitalize;
    font-size: 8px;
    color: #b2b2b3
}

.btn-delete{
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8.5%;
    font-size: 16px;
    color: red;
}