<div class="facets-pane">
  <div class="row custom-row shadow side-pane">
    <div class="twelve columns content">
      <div ng-repeat="(facetName, facets) in insights.facets">
        <div ng-if="!currentFacets[facetName]">
          <h5 class="nc-grey">{{facetName}}</h5>
          <div class="row" ng-repeat="facetItem in facets">
            <p class="facet-item" ng-click="fetchInsights(facetName, facetItem.facet)"> {{facetItem.facet|uppercase}} ({{facetItem.count}})</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row full-height">
  <div class="seven columns card-list">
    <p ng-if="data.mainPanelLoading">Loading...</p>
    <h4 ng-if="!data.mainPanelLoading && popularPages.pages.length === 0">
      Something went wrong, and we failed to create what you were looking for!
    </h4>

    <div class="row custom-row pos-relative shadow translucent-background" ng-if="popularPages.pages.length > 0">
      <div class="twelve columns">
        <div class="row popular-page-item">
          <ul class="breadcrumb-menu">
            <li class="menu-item" ng-repeat="(facetType, value) in currentFacets">
              <p class="category">{{facetType}}</p>
              <p class="sub-category">{{value}} <span ng-click="removeFacet(facetType)"> remove </span></p>
            </li>
          </ul>
          <h5 class="nc-grey">Content Overview</h5>
        </div>
        <div class="row popular-page-item" ng-repeat="page in popularPages.pages">
          <div class="name-wrapper">
            <span class="count"><strong>Activity Count:</strong> {{page.count}}</span>

            <p class="article" ng-click="filterByUrl(page)">
              <!--<img ng-if="page.image" ng-src="{{page.image}}" alt="" class="article-image" />-->
              <span>{{page.title || 'Title not available'}} <i class="fa fa-arrow-circle-right"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="five columns" ng-include="'views/partials/sidepane.html'"></div>

  <div class="row custom-row shadow translucent-background side-pane card-list" ng-if="insights.users.length > 0">
    <h5 class="nc-grey">Leads Overview</h5>
    <div class="twelve columns content">
      <div class="row popular-page-item" ng-repeat="user in insights.users">
        <div class="image-wrapper u-pull-left">
          <img ng-if="user.user_photo" ng-src="{{user.user_photo}}" alt="" class="avatar"/>
        </div>
        <div class="name-wrapper u-pull-left" ng-click="filterByLead(user)">
          <span class="count"><strong>Activity Count:</strong> {{user.count}}</span>

          <div>
            <h5 class="name nc-red">{{user.name}} <i class="fa fa-arrow-circle-right"></i></h5>
          </div>
          <p class="designation nc-dark-grey"><span ng-if="user.title">{{user.title}},</span> {{user.company}}</p>
        </div>

      </div>
    </div>
  </div>

</div>