<div class="row full-height">
  <div class="seven columns">
    <div class="row custom-row shadow translucent-background" ng-repeat="activity in recentActivities">
      <div class="twelve columns">
        <div class="timestamp nc-grey">{{activity.timestamp}}</div>
        <div class="info-wrapper u-cf">
          <div class="image-wrapper u-pull-left">
            <img ng-if="activity.user.user_photo" ng-src="{{activity.user.user_photo}}" alt="" class="avatar"/>
          </div>
          <div class="name-wrapper u-pull-left">
            <div ng-click="filterByLead(activity.user)">
              <h5 class="name nc-red">{{activity.user.name}} <i class="fa fa-arrow-circle-right"></i></h5>
            </div>
            <p class="designation"><span ng-if="activity.user.title">{{activity.user.title}},</span> {{activity.user.company}}</p>
            <p class="article" ng-click="filterByUrl(activity.page)">
              <img ng-if="activity.page.image" ng-src="{{activity.page.image}}" alt="" class="article-image" />
              <span>{{activity.page.title || 'Title not available'}} <i class="fa fa-arrow-circle-right"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="five columns">
    <p ng-if="data.subLoading">Loading...</p>
    <div class="row custom-row shadow translucent-background" ng-if="filteredActivities.list.length > 0">
      <div class="twelve columns">
        <p class="actions"><span class="action-button" ng-click="closeSidePane()"><i class="fa fa-times-circle"></i></span></p>
        <h6 ng-bind-html="filteredActivities.filterHeader | trustText"></h6>
        <div class="row" ng-repeat="filteredActivity in filteredActivities.list">
          <div class="name-wrapper" ng-if="filteredActivities.filteredByLead">
            <p class="article">
              <img ng-if="filteredActivity.page.image" ng-src="{{filteredActivity.page.image}}" alt="" class="article-image" />
              <span>{{filteredActivity.page.title || 'Title not available'}}</span>
            </p>
          </div>
          <div ng-if="!filteredActivities.filteredByLead">
            <div class="image-wrapper u-pull-left">
              <img ng-if="filteredActivity.user.user_photo" ng-src="{{filteredActivity.user.user_photo}}" alt="" class="avatar"/>
            </div>
            <div class="name-wrapper u-pull-left">
              <div>
                <h5 class="name nc-red">{{filteredActivity.user.name}}</h5>
              </div>
              <p class="designation"><span ng-if="filteredActivity.user.title">{{filteredActivity.user.title}},</span> {{filteredActivity.user.company}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>