<div class="row full-height">
  <div class="seven columns card-list">
    <div class="row custom-row shadow translucent-background" ng-repeat="activity in recentActivities">
      <div class="twelve columns">
        <div class="timestamp nc-grey">{{activity.timestamp}}</div>
        <div class="info-wrapper u-cf">
          <div class="image-wrapper u-pull-left">
            <img ng-if="activity.user.user_photo" ng-src="{{activity.user.user_photo}}" alt="" class="avatar"/>
          </div>
          <div class="name-wrapper u-pull-left">
            <div ng-click="filterByLead(activity.user)">
              <h5 class="name nc-red">{{activity.user.name}} <i class="fa fa-arrow-circle-right"></i></h5>
            </div>
            <p class="designation nc-dark-grey"><span ng-if="activity.user.title">{{activity.user.title}},</span> {{activity.user.company}}</p>
            <p class="article" ng-click="filterByUrl(activity.page)">
              <img ng-if="activity.page.image" ng-src="{{activity.page.image}}" alt="" class="article-image" />
              <span>{{activity.page.title || 'Title not available'}} <i class="fa fa-arrow-circle-right"></i></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="five columns" ng-include="'sidepane.html'"></div>
</div>